[2018-11-05 15:31] edolix opened #5 "Fix security vulnerability"
https://github.com/facebook/jest/pull/7322

[2018-12-11 21:42] edolix commented on #5
Closed by #6

[2018-12-11 21:42] #5 closed

[2019-01-12 00:46] cpetrosi opened #12 "API Endpoints No Longer Working"
examples in the following sections don’t seem to be working anymore:
- available phone numbers
- incoming phone numbers
- queues
- queue members
- recordings
- recording transcriptions

[2019-01-12 00:58] bryanrite commented on #12
These endpoints are no longer working, someone on the message board indicated that they required adding `.api` to the client line to make it work, like:

`client.api.availablePhoneNumbers('US')`

rather than our documented (and twilio compatible):

`client.availablePhoneNumbers('US')`

[2019-01-14 17:14] bryanrite commented on #12
Looks like a versioning issue, still investigating.

[2019-01-14 18:38] bryanrite commented on #12
I'm going to close as this looks like a non-issue.

[2019-01-14 18:38] #12 closed

[2019-04-23 12:18] liyang051 opened #76 "verto.attach is not work"
FS will fire verto.attach message when media downgrade/upgrade.

Now it is not support for this.

1. It will sending verto.bye when receive attach message.
2. It will sending verto.attach to FS, but missing node_id param.

[2019-04-26 02:08] #76 closed

[2019-06-03 22:57] bryanrite opened #98 "Resource is enforced in auth."
As discussed, resource and domain will be enforced in auth flow and Hagrid side. Can we remove this from web client and examples and coordinate with @Astaelan to make the necessary registrations in Hagrid are integrated upon connection.

[2019-06-04 07:27] edolix commented on #98
@Astaelan i used domain and resource to `configure` the client after the protocol setup. With this change, will Hagrid cares about `configure` request?

[2019-06-04 13:44] Astaelan commented on #98
I need to get more information about this. My understanding is that the resource may not be required to be provided in authorization, in which case there will be no resource to configure the endpoint with. Something is required to register the endpoint under with registrar (RE: configure), even if they can send out with any "from" based on not being present in the authorization.

I will need more

[2019-06-05 16:47] #98 closed

[2019-06-10 09:47] edolix opened #111 "Expose a Relay consumer class"
Quick code/design example:

[code]

or.. pretty the same with methods attached on the instance:

[code]

[2019-06-10 17:16] bryanrite commented on #111
This looks great!

[2019-06-19 17:12] KaptainKrayola opened #118 "Client not properly handling 404 on removing incomingPhoneNumber"
calling `client.incomingPhoneNumbers(sid).remove()` on a sid for a number that isn't in your account throws an error `SyntaxError: Unexpected token N in JSON at position 0` seemingly because the client expects JSON back and isn't checking the HTTP status code (404 in this case) before trying to parse the JSON.

[2019-06-19 19:47] KaptainKrayola commented on #118
Just saw it happen with a 422 HTTP Status code as well.  The headers say it's application/json but the body is empty.

[code]

[2019-06-20 04:43] talgolan opened #119 "Wanted: Official Typescript typedef file (index.d.ts) for @signalwire/node"
Given the fact that this module is written in Typescript, would it be possible to have an official Typescript typedef file (index.d.ts) created?

As a Typescript developer, it sure would be great to have an official typedef included.

Here is a scaffold I created via dts-gen. Needless to say, if I could roll this typedef myself, I gladly would. Unfortunately, I do not have the chops.

/** Declarat

[2019-06-20 07:10] edolix commented on #119
Hello @talgolan! Adding definition files to the packages is on the pipeline and will be released around next week.

[2019-06-20 12:50] talgolan commented on #119
@edolix: This is fantastic news. I'm more than happy to beta test between now and next week. I'm actively working on an MPV and would love to be able to remove the '// @ts-ignore' statements. Let me know. Thank you.

[2019-06-24 17:45] #111 closed

[2019-06-25 10:05] #119 closed

[2019-06-25 10:06] edolix commented on #119
@talgolan the `.d.ts` files will be available in `@signalwire/node` from the next version we're working on. 👍

[2019-06-25 22:19] edolix commented on #118
@KaptainKrayola what method did you use to receive 422 code?

I confirm the 404 is fixed and it now returns application/json header with this payload:

[code]

[2019-06-26 12:54] KaptainKrayola commented on #118
it's a DELETE operation and doesn't appear to be client related.  It's something on the SignalWire end with a particular number in my account.

[2019-06-26 13:14] edolix commented on #118
Ok so always with `incomingPhoneNumbers(sid).remove()`. I'll get back to you ASAP

[2019-06-26 23:21] bryanrite commented on #118
@KaptainKrayola We should be responding properly now on the DELETE operation as well. I'm going to close this issue, but feel free to reopen it if you have any more questions!

[2019-06-26 23:21] #118 closed

[2019-06-28 19:58] bryanrite opened #126 "React-Native example README"
Can we add a README to the react-native vanilla calling example, detailing the steps to get it running.

[2019-07-01 22:27] #126 closed

[2019-07-12 14:45] muteesa opened #139 "getting requestor_nodeif error now even after reload"
my relay-native vanilla example is now broken even after reload. I get the error below.
 this eror comes after the status has changed to connected.. and it was working before.

![image](https://user-images.githubusercontent.com/2539239/61136800-e98b1280-a4cc-11e9-9855-48e8a404b082.png)

[2019-07-12 15:33] edolix commented on #139
@muteesa is the JWT for auth still valid?

[2019-07-12 19:05] muteesa commented on #139
having talked to edoardo, I generated a new jwt in a new project and my app worked again without this error. Edoardo is investigating the casue of this. even new jwt's is old project were not working.

[2019-07-13 02:19] muteesa opened #140 "new more info about JWT tokens"
what's the difference between creating a new JWT and refresh.
reason: refresh_token seems to give a new JWT as well.

how can I see a list of already existing JWT's so that I can see
when they are to expire,
Force them to expire,
See what resource name a JWT has.
be able to renew the same token or update the resource name.

[2019-07-15 17:06] #139 closed

[2019-08-12 18:16] baymaxdev opened #157 "Error on getting list of available phone numbers"
When I tried to get the list of available numbers which contain "2", the API returns following error.
[code]
This only happens when containing phone number length is one.
However, when I searched on Signalwire dashboard it returns phone numbers correctly.
What is going wrong here?

[2019-08-14 11:23] lpradovera opened #158 "Messaging scope seems to still be using "calling""
Steps to Reproduce:

Log onto SignalWire Dashboard
Click “Create an API Token
Click New on API Credentials Screen
Enter a new name for the API Token.
Within Relay Scopes ensure ONLY Messaging is selected, Calling needs to be unselected.
Create the source file below “basic_test.js”
Run basic

Source Code to Reproduce:
[code]

Error:
$ node basic_test.js

2019-08-12 18:49:21.065 - Session Ready!

20

[2019-08-14 11:23] lpradovera commented on #158
This issue was brought up to me at ClueCon. Let me know if I can help, @edolix .

[2019-08-14 16:59] bryanrite commented on #158
This is an issue with permissions checking on the underlying Relay network. We are releasing a fix for this soon.

[2019-08-15 05:04] bryanrite commented on #158
This should be fixed in production, @lpradovera can you verify?

[2019-08-15 18:22] edolix commented on #158
@bryanrite this is fixed. I'll open another issue to better handle the server response in case of error.

[2019-08-15 18:22] #158 closed

[2019-08-16 09:17] edolix commented on #157
Hi @baymaxdev, i'm looking at this issue. Please, can you share a snippet to reproduce it?

Are you using `Contains` to filter the number?

Ref: https://docs.signalwire.com/topics/laml-api/#api-reference-available-phone-numbers-search-for-local-availablephonenumbers

[2019-08-16 09:25] baymaxdev commented on #157
@edolix Yes, I am using contains. Here is code snippet
[code]

[2019-08-16 09:52] edolix commented on #157
Ok, got it. Thanks!
I'll let you know ASAP 👍

[2019-08-19 21:14] bryanrite commented on #157
This is fixed now @baymaxdev, no need to update your client, it was a server side issue. Thanks for the feedback!

[2019-08-19 21:14] #157 closed

[2019-08-20 07:36] khanani92 opened #160 "Getting error Cannot read property 'close' of null at Connection.close when on server"
Whenever I stop my nodejs server it gives me this error.
(node:4036) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'close' of null
    at Connection.close (/home/khanani92/Development/client-work/pannucomp/poem_backend/node_modules/@signalwire/node/dist/common/src/services/Connection.js:100:24)
    at RelayClient._removeConnection (/home/khanani92/Development/client-work/pannuc

[2019-08-20 08:05] edolix commented on #160
Hi @khanani92!

Are you on the latest version of `@signalwire/node`? In your script, are you using a Relay Consumer or a client?
Thanks!

[2019-08-20 08:17] khanani92 commented on #160
@edolix  I'm using
"@signalwire/node": "^2.1.0"

And I'm using Client
 const client = new RelayClient({
   project: 'xxxxxxxxxx',
   token: 'XXXXX'
 });

[2019-08-20 09:43] edolix commented on #160
@khanani92 i'm not able to reproduce it. To stop the server are you sending `SIGINT` to it? This error happens every time you stop the client?

Please, double check your package version inside node_modules too.

[2019-08-20 14:13] khanani92 commented on #160
I'm not sending SIGINT fro stopping the server. I'm using visual code debugger to run server. Secondly yeah every time. Even my colleges are also getting same error

[2019-08-20 15:41] edolix commented on #160
@khanani92 can you share your code (or a snippet with i can reproduce the issue) and explain a bit your process?

I'm also using the debugger but i can't see that error between breakpoints.

[2019-08-22 06:24] khanani92 commented on #160
[code]
This the code of my sms service. I'm getting the sms successfully when using this service

[2019-08-22 09:49] edolix commented on #160
@khanani92 it looks a bit weird you connect/disconnect a RelayClient for **each** message since the client should be a long-running process to interact with Relay in real time.

I'd advise you to start using a [Relay Consumer](https://docs.signalwire.com/topics/relay-sdk-nodejs/v2/#relay-sdk-for-node-js-using-the-sdk-relay-consumer) (read also the [Consumer API](https://docs.signalwire.com/topics/

[2019-08-22 19:09] feynmanliang opened #165 "Error calling tap with websocket source"
Calling `Call#tap` with `device.type == 'ws'` results in an error. The websocket endpoint is never hit.

Expected behavior: a websocket connection is established to the provided `device.uri`

Actual behavior: an error with message "Relay command failed with code: -32602 - Invalid CallTapParams"

Minimal repro example
[code]

Console output
[code]

[2019-08-22 21:05] edolix commented on #165
Hi @feynmanliang, the `device.type == ws` is not supported yet.
There was an issue in our [Call#tap documentation](https://docs.signalwire.com/topics/relay-sdk-nodejs/v2/#api-reference-relay-calling-call-methods-tap) that we updated thanks to your feedback!

You can use `tap` with `rtp`.

Thanks again.

[2019-08-22 21:05] #165 closed

[2019-08-23 16:46] shashikumar-sw opened #167 "PSTN to webRTC call failed"
PSTN to webRTC call failed  with below error
[code]

[2019-08-23 16:49] bryanrite commented on #167
@shashikumar-sw Can you provide us with a bit more information, like a code example of what you're doing.

[2019-08-26 08:11] edolix commented on #160
Hi @khanani92 i'm going to close this one.

Feel free to reopen it if you need more info, thanks!

[2019-08-26 08:11] #160 closed

[2019-08-26 14:22] shashikumar-sw commented on #167
https://github.com/signalwire/signalwire-node/tree/master/packages/js/examples/vanilla-calling i just copied to my webserver and did PSTN call to firefox registered endpoint

[2019-09-10 06:43] cooldeeparmar opened #180 "browser to phone Call"
Hello
how to set specific number for caller id  there are only one parameter for create new call "destinationNumber".
  const params = {
        destinationNumber: document.getElementById('number').value, // required!
        audio: document.getElementById('audio').checked,
        video: document.getElementById('video').checked ? { aspectRatio: 16/9 } : false,
      };
      currentCall = client.

[2019-09-10 12:57] edolix commented on #180
Hi @cooldeeparmar! Set the caller id in the JS SDK is not supported yet. We're working on it and will be released soon!

[2019-09-11 19:04] bryanrite opened #181 "Allow setting From when dialing from Relay endpoint"
~Allow setting an optional `from` parameters when dialing out.~

We cannot allow setting the `from` directly, because this is locked to the resource to ensure they are sending a valid from for SIP/Relay requests, but we should add a `caller_id_number` setting, that can be set to a E.164 number used when dialing to the PSTN.

Fixes: #180

[2019-09-17 16:49] bryanrite commented on #181
This is now supported on the current version (no need to upgrade) by setting `callerNumber`.

[2019-09-17 16:49] #181 closed

[2019-09-17 16:56] bryanrite commented on #180
@cooldeeparmar You can specify `callerNumber` when making a new call, and it will properly set the caller ID when dialling a phone number. Thanks for the suggestion!

[2019-09-17 16:56] #180 closed

[2019-09-19 08:22] cooldeeparmar commented on #180
Thank you for your reply

On Tue, 17 Sep 2019, 10:26 pm Bryan Rite, <notifications@github.com> wrote:

[2019-09-24 12:16] ShashiKumar-SignalWire opened #185 "Need an option to get Remote caller Id number in currentCall object"
To show call coming from which number we need an option to get  Remote caller Id number

[2019-10-31 18:22] shashikumar-sw opened #196 "Session protocol mismatch Error if internet connection reset on client server"
Please check below log

2019-10-31 18:04:21.216 - Session Ready!
2019-10-31 18:04:21.965 - Receiving all inbound related to the requested relay contexts and available scopes
2019-10-31 18:07:29.518 - Network error: wss://relay.signalwire.com: getaddrinfo ENOTFOUND relay.signalwire.com relay.signalwire.com:443
2019-10-31 18:07:45.696 - Network error: wss://relay.signalwire.com: getaddrinfo ENOTFOUN

[2019-11-01 17:06] #196 closed

[2020-01-02 23:34] muteesa opened #215 "Internal Server Error -32603 when sending message in trial mode"
hello Team customer is getting this error when they try to send a message using relay node js sdk in trial mode.
https://gist.github.com/nub4life/c94a590ccdcef6aef55f127f71cea4fe

regards,
fred

[2020-01-09 20:25] lpradovera opened #218 "DTMF not being recognized in RN on Android"
We're using the React Native SDK in our Android app to accept incoming calls from a sip device. Once a call is established, we're using DTMF to send messages to the sip device.
This kind of integration works from other sip devices, but dtmf tones sent using the SignalWire SDK are not picked up by the device. Is there any documentation on how DTMFs are sent? Are you using In-Band signaling or Out-O

[2020-01-09 20:27] #218 closed

[2020-01-20 18:26] edolix opened #220 "TSC error while trying to use methods on child classes"
`Property 'startScreenShare' does not exist on type 'BaseCall'`

Change `calls` declaration on BrowserSession [here](https://github.com/signalwire/signalwire-node/blob/c8967d1c81696a79e0b19f16c77f8429d3e636b0/packages/common/src/BrowserSession.ts#L15)

[2020-01-22 00:22] #220 closed

[2020-02-05 18:51] edolix opened #223 "Methods to get browser devices can return empty deviceId or label"
If the browser has access to only the `camera` or `microphone`, methods like `getDevices` will return some devices without `deviceId` or `label` depending on the browser implementation.

[2020-02-06 18:26] #223 closed

[2020-02-24 08:26] pouledodue opened #228 "stuck when: npm run setup js"
Hi is normal it is quite stuck on the nice indicator?

[code]

Can I be sure it completed successfully if I kill it?

[2020-02-24 09:05] edolix commented on #228
Hi @pouledodue!
Since `npm run setup js` just install all the dependencies, check the code with linter and jest and then build the bundled version... it depends mainly on the network speed (to download deps from NPM) and your machine performance to pass the test/build phases.

No, you should wait the process to complete

[2020-02-24 09:11] pouledodue commented on #228
15 minutes and still running, normal?

[2020-02-24 09:13] edolix commented on #228
Absolutely not normal. Can you kill and retry it?

[2020-02-24 09:31] pouledodue commented on #228
retried multiple times, indicator keeps turning
it does something, as I hear the fan ramping up a bit but the indicator turns eternally

[2020-02-24 09:38] edolix commented on #228
Let's try this from the root of the repo:

[code]

After these command you can run `npm run build` from `packages/js` folder to build the package.

[2020-02-24 09:43] pouledodue commented on #228
thanks, worked
Its probably just the fancy indicator library that get stuck for some reason

[2020-02-24 09:48] edolix commented on #228
I don't think it's an issue with the indicator.
The `setup` command do - in addition of `build`:

[code]
Always into `packages/js`.
Let me know how it goes with those or share here your Node/NPM versions and OS specs so i can dig a bit 👍

[2020-02-24 10:12] pouledodue commented on #228
stuck on:
[code]

jest 25.1.0
node v12.10.0
npm 6.13.7

macOS Catalina 10.15.3

[2020-02-24 10:48] edolix commented on #228
Ok thanks. It seems an issue with Jest on the latest npm release.
I'll figure it out 👍

[2020-02-24 10:48] #228 closed

[2020-03-05 06:15] Nashid95 opened #230 "Calling signalwire phone number not prompting listener notification"
I followed your instructions to set up this application to test it out on react native using your vanillaexample.

I was able to run the application and used a JWT that I generated through postman for the time being.

I was able to call out from the react native app running on android studio and the call went through good. But then I tried calling back and it's just dead silence. I see the call in

[2020-03-05 09:38] edolix commented on #230
Hi @Nashid95!
You should set the phone number as `a Verto/WebRTC Endpoint` with a `resource` name you  want.
Then you should get a JWT using the same `resource` name - See the resource parameter in [Creating Tokens](https://docs.signalwire.com/topics/relay-sdk-jwt-auth/#authentication-using-jwt-creating-tokens) section.

With the new JWT and the phone number pointed to the resource name, you will

[2020-03-05 15:47] Nashid95 commented on #230
Gotcha, so when using React Native, the call handler needs to be verto/webrtc end point.

So I went to the same cantina.signalwire.com (which I have a feeling I'm doing the setting up webrtc endpoint completey wrong) and i logged in there and then I set up user/credential
![image](https://user-images.githubusercontent.com/22968062/75998158-a0555c00-5ebd-11ea-8605-5a34aa64a849.png)

and i used thos

[2020-03-05 16:00] edolix commented on #230
@Nashid95 you don't need `cantina.signalwire.com` to run your RN application.
Instead, the `Requester validation failed` could happen because you're using an invalid/expired/missing JWT?

When are you getting that error?
Were you be able to receive an inbound call on Android?

[2020-03-05 16:48] Nashid95 commented on #230
Okay then I'm really confused. What is the the point in setting up in iceServers to connect to the cantina in the example of vanilla.

- So where/how do i decided what to put the field above for call webrtc call handler? (does this not relate to that cantina thing)

- The only way to NOT get this error is wipe data on the emulator then rerun it and run react-native run-android, the inital load wor

[2020-03-05 17:12] edolix commented on #230
You can name the Verto/WebRTC endpoint with whatever you want.
For example:

1. enter the name `bob` in the field above and save
2. generate a JWT using `resource: 'bob'` as parameter. [Read here for details](https://docs.signalwire.com/topics/relay-sdk-jwt-auth/#authentication-using-jwt-creating-tokens)
3. connect your App using the new generated "bob JWT" and call the phone number.

This way Rel

[2020-03-05 17:47] Nashid95 commented on #230
Cool. Thanks for explaining that about verto/webrtc.

I will try doing that later today and see if i can get inbound call.

Regarding the Error, latest version of what?

I cloned your repo and went into the vanillaexample.
Here's my package.json

`{
  "name": "VanillaCalling",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js star

[2020-03-05 17:55] edolix commented on #230
Ok, double check the package-lock file to make sure you're running the latest version of [@signalwire/react-native](https://www.npmjs.com/package/@signalwire/react-native) 👍

I'm going to close the issue, feel free to reopen it in case the inbound call will not work!

[2020-03-05 17:56] #230 closed

[2020-03-11 23:05] Nashid95 opened #234 "Update React Native and Trying to Use Expo."
Hey so I'm trying to make my debugging easier by using latest version expo and updating React native.

I managed to get all the packages configured correctly and linked the only issue with I run is that I'm getting this issue.

[@RNC/AsyncStorage]: NativeModule: AsyncStorage is null.

Any ideas what's going on?

Here's my package.json
[code]

[2020-03-11 23:14] edolix commented on #234
Hi @Nashid95 , this is not related to the SignalWire react-native package but instead on the `@react-native-community/async-storage` with Expo.
I think you have to eject the App (so, not use Expo) to work with async-storage and react-native-webrtc.

[2020-03-12 01:03] Nashid95 commented on #234
So since expo currently does support webrtc.
there's no way of using your sdk with Expo?

[2020-03-12 10:14] edolix commented on #234
The [react-native-webrtc](https://github.com/react-native-webrtc/react-native-webrtc#react-native-webrtc) package doesn't support Expo.

From the README:

[2020-03-12 10:14] #234 closed

[2020-04-03 14:33] DeividVeloso opened #245 "Question - Make a video call with Verto"
Hi guys!

I'm trying to do a video call with **Verto.ts** and verto module.

I could do a video call using **Relay/Signalwire**, but **I couldn't do a video call with Verto.**

Using **Verto.ts** I only could show the local video image, **but the remote video didn't show**. I use **the same code that Relay use on vanilla-calling/index.html**

**Verto**
[code]

With this VERTO code, I could do a ca

[2020-04-05 20:20] binhly opened #246 "Demo app is unable to answer calls."
After successfully setting up the react-native project to run in the iOS simulator I am able to create outbound calls.

But upon receiving inbound calls I get the following error message:

Any tips on how to go about debugging this?  I'm now to WebRTC.

![Simulator Screen Shot - iPhone 11 - 2020-04-05 at 13 18 16](https://user-images.githubusercontent.com/8120153/78509062-2cb6a100-7740-11ea-81f6-2

[2020-04-05 20:44] edolix commented on #246
Hi @binhly , i'd suggest to test the application or a real device because WebRTC requires to access microphone/camera that iOS simulator doesn't support.
I've build right now the demo app for both Android and iOS and seems to work fine.

Can you give me some more info on what you're doing, please?

Also, make sure to run the latest version of [@signalwire/react-native](https://www.npmjs.com/packag

[2020-04-06 13:55] DeividVeloso commented on #245
Maybe I have a clue, I compare the logs between Verto calls and Relay calls and I got these differences:

Verto WebRTC logs:
I didn't see **video references** when createAnswer
[code]

In Relay I can see video references:

[code]

How can I fix this when using Verto? I saw that the code is almost the same, each one extends from **BrowserSession**.

[2020-04-06 14:30] edolix commented on #245
Hi @DeividVeloso,

looking SDPs from your last comment it seems that one side is not offering `video` but only `audio`.
What type of device are you trying to call?

I'm going to change the title of the issue since this is not a bug with the SDK 👍

[2020-04-06 14:35] DeividVeloso commented on #245
I'm calling to the browser using SIP call, I called from one browser to another using the same network

I got another clue, in the object **this.options** when I try to **set _setLocalDescription** the property **remoteSdp** has this value when using Verto

[code]

**Using Relay has this other value**
[code]

I saw that when using Verto it doesn't put video inside SDP on remote, but when using Rel

[2020-04-06 14:45] edolix commented on #245
Might be your FreeSWITCH configuration while using Verto. That means the caller is not offering video.

Did you set up FS yourself?

[2020-04-06 16:36] bryanrite commented on #245
Since this is not a bug with the SDK, I'm going to close this ticket, but please feel free to get help on the SignalWire Slack Community: https://signalwire.community/

There are lots of community members and SignalWire support staff that can help out with questions.

Thanks!

[2020-04-06 16:36] #245 closed

[2020-04-14 12:14] edolix commented on #246
Hi @binhly, i'm going to close this issue. Feel free to reopen or comment here for any other questions.

Thanks!

[2020-04-14 12:14] #246 closed

[2020-06-26 20:27] davemurphysf opened #251 "React Native: crypto.getRandomValues() not supported"
Looking through the code, it looks to be caused by this: https://github.com/uuidjs/uuid#getrandomvalues-not-supported

[2020-06-26 23:40] edolix commented on #251
Hi @davemurphysf! This is going to be addressed in [this branch](https://github.com/signalwire/signalwire-node/tree/fix/react-native-crypto).

Thanks 👍

[2020-07-02 08:09] #251 closed

[2020-07-12 11:51] LinuxDevBD opened #255 "after deploy not showing localhost"
Hello, I have used node js 10 and setup everything

  ✔ Setup @signalwire/common
  ✔ Setup @signalwire/node

Now how I can check this from localhost? I am using Ubuntu 18.04 Desktop
![Screenshot from 2020-07-12 17-49-54](https://user-images.githubusercontent.com/55578382/87245599-59c5ce80-c468-11ea-97ae-377e39286d64.png)

[2020-07-12 20:47] edolix commented on #255
Hi @LinuxDevBD! Could you describe a bit more what are you trying to do, please?

From the description it looks like you are working with `signalwire-node` repository but this means you have to build the package you want (JS - Node.js or React Native) on your own.
If you want to just using our SDKs you can start from [our documentation here](https://docs.signalwire.com/topics/relay/#relay-document

[2020-07-12 22:49] LinuxDevBD commented on #255
I'm looking to integrated SignalWire integrate with Spoke using
https://github.com/signalwire/signalwire-node
cd packages/js
npm install
npm run build
npm run tslint
npm run test

I was looking for signalwire-node GUI if any

[2020-07-13 07:09] edolix commented on #255
@LinuxDevBD `signalwire-node` is a monorepo that contains 3 NPM packages: `@signalwire/js`, `@signalwire/node` and `@signalwire/react-native`. Each of these packages lets you integrare SignalWire services with - respectively - JS in the browser, NodeJS server and ReactNative.

I would recommend you to get started with our Nodejs SDK at this link: https://docs.signalwire.com/topics/relay-sdk-nodejs

[2020-07-17 06:37] edolix commented on #255
@LinuxDevBD feel free to reopen if you have any other questions!

Thanks

[2020-07-17 06:37] #255 closed

[2020-08-26 05:38] ankitjena opened #263 "[Bug] Message response could not be received from messaging gateway"
## Description
Trying to send a message to a number using the `RelayClient.messaging.send()` method throws the following error.
![image](https://user-images.githubusercontent.com/23580602/91259086-69387700-e78b-11ea-8334-71dcee5bf1fd.png)
The `client` is getting connected, I have checked this. Just the sending of message fails, I have tried other number as well with same result. I have looked arou

[2020-08-26 06:57] edolix commented on #263
Hi @ankitjena!

Is the other server running the same code?
From the snippet above i can't see _how and when_ you use the `sendSms()` function.
If you can provide a running example i can see if there are any "client setup" issues.

Also, you are using the raw client object without waiting for the `signalwire.ready` event: see [here](https://docs.signalwire.com/topics/relay-sdk-nodejs/v2/#api-refere

[2020-08-26 07:26] ankitjena commented on #263
Yes exactly the same

I am initializing the client when the server starts and the `sendSms` function is called when I actually call it from user's end(REST API in my case). I'll take a look at the `signalwire.ready` event but usually since I call connect on server start the client is connected( I get `true` from `client.connected` like I said).

Thanks for the suggestions. But if possible I would

[2020-08-26 07:32] edolix commented on #263
Sure! 👍

[2020-08-26 16:34] bryanrite commented on #263
@ankitjena Can I ask you to open a support ticket from your SignalWire account instead by visiting `https://<SPACE_NAME>.signalwire.com/support_tickets/new`? You can reference this Github issue in it, but the technical support staff will be able to assist you more and narrow down the issue, since the problem doesn't seem to be a technical SDK one, but something possibly with configuration or withi

[2020-08-26 16:34] #263 closed

[2020-08-27 06:30] ankitjena commented on #263
Thanks @bryanrite I'll do that

[2020-09-14 19:51] huangxuewu opened #266 "RelayConsumer socket disconnect issue"
When the socket disconnects, the relay consumer will output a massive log and cause node heap out of memory.

Need to rework on the reconnect logic,  also can we turn off the relay log?

error output:

2020-09-11 18:00:58.743 - Socket error Network error: wss://relay.signalwire.com: getaddrinfo ENOTFOUND relay.signalwire.com
2020-09-11 18:00:58.744 - Socket close undefined
2020-09-11 18:00:59.741

[2020-09-17 09:53] ankitjena commented on #263
Hey @edolix , just curious about something else. You had suggested using consumer and task instead of raw client setup. But how do I access the client inside the `onTask` method of the consumer

[2020-09-17 10:20] edolix commented on #263
@ankitjena you should be able to use the Consumer `client` property. See [the Consumer properties for details](https://docs.signalwire.com/topics/relay-sdk-nodejs/v2/#api-reference-relay-consumer-properties).
Let me know how it goes!

[2020-09-30 13:04] huangxuewu opened #267 "RelayConsumer socket reconnect strategy needs improvement"
When Signalwire server is down, it is unlikely to be recovered in a short period.  the interval time for socket reconnect should gradually increase to a maximum like 10-30 seconds per attempt. or we can have it configurable.

[2020-11-06 12:36] MeghaPawar2410 opened #268 "How to connect SIP"
I am able to get jet_token and my SIP information
But still not finding how I can connect my SIP to the server?

Can any one please help?

[2020-11-06 13:24] edolix commented on #268
Hi @MeghaPawar2410! Can I ask you to open a support ticket from your SignalWire account instead by visiting `https://<SPACE_NAME>.signalwire.com/support_tickets/new` ?
You can reference this Github issue in it, but the technical support staff will be able to assist you and reply to any other questions.

Feel free to reopen this or comment for any question - Thanks!

[2020-11-06 13:24] #268 closed

[2020-11-10 06:19] MeghaPawar2410 opened #269 "importing 'signalwire/react-native'"
I want to use this:
import Relay from 'signalwire/react-native';

But facing following issue:
undefined unable to resolve module 'signalwire/react-native'

Can you please help in this?

[2020-11-10 07:41] edolix commented on #269
Hi @MeghaPawar2410, you can follow the `Getting Started` and `Installation` section on our [official documentation here](https://docs.signalwire.com/topics/relay-sdk-react-native/v1/#relay-sdk-for-react-native).

Make sure to install `@signalwire/react-native` (with `@`) in a ReactNative application!

Also, can I ask you to open a support ticket from your SignalWire account by visiting https://<SP

[2020-11-10 07:42] #269 closed

[2020-11-18 13:57] viv578ek opened #270 "Don't throw Call init form after socket Connect Success RelaySDK(SingnalWair)"
Hello Team,

     I am not able to throw call after connection Socket success.
I am making call like this method
// Make Call
this.client.newCall({ destinationNumber: this.state.extension, video: { facingMode: 'user' } })
// this.state.extension -> 18004337300. USA Country
No any Log show in terminal after call Init register user.

Error Show : TypeError: undefined is not an object (evaluating '_t

[2020-11-18 14:03] edolix commented on #270
Hi @viv578ek, from the `TypeError` seems the `this.client` is not defined.

Please make sure to read our [Getting Started](https://docs.signalwire.com/topics/relay-sdk-js/v1/#relay-sdk-for-javascript-getting-started) docs page and follow the [vanilla example here](https://github.com/signalwire/signalwire-node/tree/master/packages/js/examples/vanilla-calling).

[2020-11-18 14:05] viv578ek commented on #270
Hi @edolix
    But I am not getting any log related to call initiations our end.

[2020-11-18 14:07] viv578ek commented on #270
And I am also fallow all process as per shared Documents.

[2020-11-18 14:11] edolix commented on #270
Since your `this.client` variable is undefined, no call can start so this means no logs. The only log you have is `undefined is not an object`.

Double check your client setup or share a snippet code to see the client init - thanks!

[2020-11-19 03:51] viv578ek commented on #270
Ok let me try again

[2020-11-19 09:58] edolix commented on #270
I'm going to close this one for now.

Can you open a support ticket from your SignalWire account by visiting `https://<SPACE_NAME>.signalwire.com/support_tickets/new`? You can reference this Github issue in it, but the technical support staff will be able to assist you more and narrow down the issue, since the problem doesn't seem to be a technical SDK one, but something possibly with your configu

[2020-11-19 09:58] #270 closed

[2020-12-15 06:22] viv578ek opened #274 "SignalWire socket disconnect! Not able to again reconnect."
Hello Friends,

   I am connecting relay socket new Connection. I have to work perfectly. But after some time my JWT token expire. that case I  have refresh my token base one refresh_token value like
Ex:
 **curl https://your-space.signalwire.com/api/relay/rest/jwt \
  -X PUT \
  -u 'YourProjectID:YourProjectToken' \
  -H 'Content-Type: application/json' \
  -d '{
        "refresh_token": "XYZ"

[2020-12-15 09:23] edolix commented on #274
Hello @viv578ek!

You can keep the session alive using the [refreshToken method](https://docs.signalwire.com/topics/relay-sdk-js/v1/#api-reference-relay-methods-refreshtoken).
You have to refresh your token server-side and use it on the client following the example linked above.

[2020-12-15 17:10] bryanrite commented on #274
I'm going to close this, as it is expected behaviour if the connection isn't updated with the new token and not a technical issue. @viv578ek Feel free to reach out to SignalWire support if you need further assistance!

[2020-12-15 17:10] #274 closed

[2021-02-06 03:50] #266 closed

[2021-02-06 03:50] #267 closed

[2021-03-02 08:11] ankitjena opened #276 "[Bug] Task.deliver fails without throwing any error"
## Background
We are using relay consumer and task to send smses. It was working perfectly fine previously, but today the task,deliiver fails without throwing any error. The error is `undefined`

The code looks something like this
[code]

## Bug
It is wrapped in a try catch and the error in catch comes out to be `undefined`. Though trying to send a message in consumer.ready method works properly.

[2021-03-02 08:15] lpradovera commented on #276
Hello, just to clarify, the task does get delivered to the consumer then fails to send the message? Or is the failure in the relayTask.deliver API call?

[2021-03-02 09:03] ankitjena commented on #276
The task doesn't get delivered to the consumer's onTask method. It fails on the deliver method and doesn't throw any error

[2021-03-02 09:21] edolix commented on #276
Hello @ankitjena, i can see some issues in your code (eg: number of arguments for the onTask handler and the use of the private `this` keyword).

Can you try running this code? I've changed a bit the handlers to just logs the task but it should fix your issue.

[code]

[code]

Thanks!

[2021-03-02 13:01] ankitjena commented on #276
@edolix I tried the above out. The task gets delivered but how do I access the client. It says the following
[code]

[2021-03-02 13:44] edolix commented on #276
@ankitjena you can use the `consumer.client` same as my example above:

[code]

`consumer` is declared at the global scope (with `const consumer = new RelayConsumer(...)`)

[2021-03-03 04:53] ankitjena commented on #276
@edolix Thanks for helping out, we improved our code. But the bug was on the frontend side. Nevertheless thanks for all the help. It helped in debugging things better. Closing the ticket.

BTW the bug was phone number had special characters in it.

[2021-03-03 04:54] #276 closed

[2021-04-08 22:25] Tyler-Murphy opened #284 "Add a way to disconnect `RelayConsumer` without sending `SIGINT` or `SIGTERM`"
I'd like to be able to disconnect without having to kill other stuff that runs in the same process and listens for the same signals. It's more convenient than having to run the `RelayConsumer` in its own process in some cases.

It looks like there's a `protected` `client` property with the `disconnect` method that might do the trick if it weren't `protected`.

[2021-04-09 08:12] edolix commented on #284
Hi @Tyler-Murphy!

A `RelayConsumer` should run on it own process and we decided to not expose the underlay `client` object.
We can for sure add a way to disconnect it without using signals in the next version.

For now, as a workaround, you can still use the `disconnect` method from the protected client ignoring the line in TS (`// @ts-ignore`).

[2021-04-09 14:47] Tyler-Murphy commented on #284
Cool, thanks! I'm using `@ts-expect-error` for now, but it'd be nice not to bypass type checks in the long run.

[2021-09-18 03:33] guyeatspants opened #325 "Cannot connect to any part of your api or get your node package working..."
Hey there!

For some odd reason i cannot connect to the relay client, rest, nor anything importing signalwire and putting in all my credentials.  Twilio for some reason throws an error, regarding a prompt that has already been declared, I've tried various changing the Twilio versions with no luck.

`
Identifier 'Prompt' has already been declared (960:9) in /Users/alex/Desktop/projects/***/node_mod

[2021-09-18 03:48] diagraphic commented on #325
Terns out I cannot import this.  It'll work as

[2021-09-19 19:50] edolix commented on #325
Hi @diagraphic! I'm not able to reproduce it, can you please share a reproducible example? Also, include the versions you are using please!

Here a very simple code that works with latest `@signalwire/node`:

[code]

Thanks!

[2021-09-23 16:22] Piyush-Use-Personal opened #327 "Is the link outdated[https://signalwire.com/blogs/product/building-an-advanced-communications-system-part-2]"
is this link outdated https://signalwire.com/blogs/product/building-an-advanced-communications-system-part-2
I am trying to integrate nodejs but typescript is complaining about the types present in the doc

[2022-01-17 20:51] kamronbatman opened #333 "RestClient doesn't have LaML"
Cannot compile LaML because it doesn't exist on RestClient (Twilio object type)
<img width="833" alt="Screen Shot 2022-01-17 at 12 49 16 PM" src="https://user-images.githubusercontent.com/3953314/149835584-cb0201eb-d270-4446-969c-2cd064fb20dd.png">

[2022-02-04 21:57] CoreLine76 opened #334 "Error Installation"
Hello, why am I getting an error during installation?
![hata](https://user-images.githubusercontent.com/92768020/152608622-dc1a8838-aeaf-41f2-a9d8-fb3dab1378ed.png)

[2022-02-07 09:07] edolix commented on #334
Hey @CoreLine76 - from the screenshot i see you're using Windows. Any chance for you to give it a shot using the [WSL](https://docs.microsoft.com/en-us/windows/wsl/about)?

[2022-10-27 02:40] waaronking opened #367 "NPM reports high severity vulnerabilities due to dependence on vulnerable versions of twilio"
@signalwire/node is currently pinned on v3.29.2 of Twilio which was released on Mar 15, 2019. This version of Twilio was using MomentJS v2.19.3 which has documented vulnerabilites (see [https://security.snyk.io/package/npm/moment](https://security.snyk.io/package/npm/moment)).

Doing a regular npm install today of @signalwire/node warns of "high severity vulnerabilities" due to the @signalwire/nod

[2022-11-02 17:51] edolix commented on #334
Closing due to lack of response - Feel free to reopen with more details. Thanks!

[2022-11-02 17:51] #334 closed

[2022-11-02 17:54] #325 closed

[2022-11-02 17:59] edolix commented on #367
[v2.5.1](https://www.npmjs.com/package/@signalwire/node/v/2.5.1) has been released with the last dependency version with Fax support.

[2022-11-02 17:59] #367 closed

[2022-11-07 00:53] waaronking commented on #367
@edolix Thank you!